select, .bx-content, #showCommunes, #get-geoloca, #get-cinema, #saveImage, #capturePhoto {
    width: 100%;
    border-radius: 5px;
}

select, #showCommunes, #get-geoloca, #get-cinema, #saveImage, #capturePhoto {
    padding: 10px 20px;
} 

#depart-list {
    margin-bottom: 50px;
}

button, #get-geoloca, #get-cinema {
    background-color: rgb(144, 200, 238);
    border-radius: 5px;
    border: 1px solid grey;
}

#get-geoloca {
    background-color: rgb(238, 144, 144);
}

#get-cinema {
    background-color: rgb(144, 238, 183);
    margin-top: 15px;
}

#webcamSelect {
    width: 250px;
}

#selectWebcam {
    padding: 10px 20px;
    width: 150px;
}

body {
    padding: 2% 8%;
}

.box-with-cam-image {
    display: flex;
    justify-content: space-between;
}

.bx-ctt-img {
    width: 45%;
}